html {
  font-family: Roboto, sans-serif;
  --primary-color: #2f80ed;
  --secondary-color: #333333;
  --bg-color: #ffffff;
}

body {
  margin: 0;
  background: linear-gradient(50deg, #9796f0, #f9fab4);
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

h1 {
  color: var(--primary-color);
  margin-bottom: 0.25em;
}

h2 {
  color: var(--secondary-color);
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 1em;
}

h3 {
  color: var(--primary-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

section {
  margin-bottom: 5em;
}

.responsive {
  width: 35%;
  height: auto;
}

.section__velue {
  display: flex;
  align-items: center;
}

.contacts-wrapper {
  margin-top: auto;
  margin-right: 20px;
  margin-left: 20px;
}

.cv {
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
}

.contacts {
  margin-bottom: 1em;
  font-weight: 450;
}

.contact__type {
  font-weight: 550;
}

.experience {
  margin-bottom: 5em;
}

.experience__date {
  margin-bottom: 0.5em;
}

.experience__details {
  line-height: 1.5;
}

.experience__details ul {
  padding-left: 20px;
}

/* Медиазапросы для адаптивности */

/* Для экранов меньше 768px (мобильные устройства) */
@media (max-width: 768px) {
  .cv {
    padding: 10px;
  }

  .section__velue {
    flex-direction: column;
    align-items: center;
  }

  .responsive {
    width: 100%;
  }

  .contacts-wrapper {
    text-align: center;
    margin-right: 0;
    margin-left: 0;
  }

  .experience__date {
    font-size: 14px;
  }

  .experience__description {
    font-size: 14px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }
}

/* Для экранов меньше 375px (маленькие мобильные устройства) */
@media (max-width: 375px) {
  .cv {
    padding: 5px;
  }

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  .contact__type, .contact__value {
    font-size: 14px;
  }

  .experience__details ul {
    padding-left: 15px;
  }
}
